<a href="https://colab.research.google.com/github/josecamachobravo/CienciaDatos/blob/main/Busquedanformacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
ruta = r'https://raw.githubusercontent.com/josecamachobravo/CienciaDatos/main/CienciaDatos/Poblacion_medellin_2018.csv'
df = pd.read_csv(ruta)
print(df.head())
print(df.tail())
print(df.describe())

   Código Dane_Municipio Tipo_división_geográfica   Código Grupo_Edad  \
0                   5001                   Comuna  Popular      Total
1                   5001                   Comuna  Popular        0-4
2                   5001                   Comuna  Popular        5-9
3                   5001                   Comuna  Popular      10-14
4                   5001                   Comuna  Popular      15-19

   Total_2018  Hombres_2018  Mujeres_2018
0      131968         62502         69466
1       11684          5970          5714
2       11624          5894          5730
3       11139          5636          5503
4       10888          5481          5407
     Código Dane_Municipio Tipo_división_geográfica          Código  \
427                   5001           Total Medellín  Total Medellín
428                   5001           Total Medellín  Total Medellín
429                   5001           Total Medellín  Total Medellín
430                   5001           Total Medellín  Total Medellín
431                   5001           Total Medellín  Total Medellín

    Grupo_Edad  Total_2018  Hombres_2018  Mujeres_2018
427      60-64      146335         63048         83287
428      65-69      109374         46391         62983
429      70-74       75371         30633         44738
430      75-79       47121         18131         28990
431   80 Y MÁS       52199         18110         34089
       Código Dane_Municipio    Total_2018  Hombres_2018  Mujeres_2018
count                  432.0  4.320000e+02  4.320000e+02  4.320000e+02
mean                  5001.0  3.513060e+04  1.653275e+04  1.859785e+04
std                      0.0  1.675131e+05  7.884461e+04  8.869422e+04
min                   5001.0  3.600000e+01  5.000000e+00  3.100000e+01
25%                   5001.0  3.952250e+03  1.763000e+03  2.096750e+03
50%                   5001.0  8.612500e+03  4.008000e+03  4.477500e+03
75%                   5001.0  1.209525e+04  5.973250e+03  6.286250e+03
max                   5001.0  2.529403e+06  1.190358e+06  1.339045e+06

In [ ]:
df.head()

,Código Dane_Municipio,Tipo_división_geográfica,Código,Grupo_Edad,Total_2018,Hombres_2018,Mujeres_2018
0,5001,Comuna,Popular,Total,131968,62502,69466
1,5001,Comuna,Popular,0-4,11684,5970,5714
2,5001,Comuna,Popular,5-9,11624,5894,5730
3,5001,Comuna,Popular,10-14,11139,5636,5503
4,5001,Comuna,Popular,15-19,10888,5481,5407

In [ ]:
df.tail()

,Código Dane_Municipio,Tipo_división_geográfica,Código,Grupo_Edad,Total_2018,Hombres_2018,Mujeres_2018
427,5001,Total Medellín,Total Medellín,60-64,146335,63048,83287
428,5001,Total Medellín,Total Medellín,65-69,109374,46391,62983
429,5001,Total Medellín,Total Medellín,70-74,75371,30633,44738
430,5001,Total Medellín,Total Medellín,75-79,47121,18131,28990
431,5001,Total Medellín,Total Medellín,80 Y MÁS,52199,18110,34089

In [ ]:
df.describe()

       Código Dane_Municipio    Total_2018  Hombres_2018  Mujeres_2018
count                  432.0  4.320000e+02  4.320000e+02  4.320000e+02
mean                  5001.0  3.513060e+04  1.653275e+04  1.859785e+04
std                      0.0  1.675131e+05  7.884461e+04  8.869422e+04
min                   5001.0  3.600000e+01  5.000000e+00  3.100000e+01
25%                   5001.0  3.952250e+03  1.763000e+03  2.096750e+03
50%                   5001.0  8.612500e+03  4.008000e+03  4.477500e+03
75%                   5001.0  1.209525e+04  5.973250e+03  6.286250e+03
max                   5001.0  2.529403e+06  1.190358e+06  1.339045e+06

            Diplomado Ciencia de Datos

            Jose Mauricio Camacho Bravo.
            Sandra Milena Echavarría López.

            Facultad de Tecnología, Universidad IUD

            Actividad de aprendizaje : S33 - Búsqueda de Información


            Profesor: Julián Andrés Castillo Grisales

            Junio 28 del 2023

            Universidad IUD

            Medellín
****************************************************************************************************************************************************************
Introducción

Hoy en día la búsqueda de la información es un ámbito que está de qué hablar ya que con procesos muy bien establecidos podemos integrar procesos de aplicaciones, base de datos, etc, que nos brinda la oportunidad de tener datos a la mano y poder personalizarlos de acuerdo a la necesidad, con este trabajo se va demostrar que si se puede tener una búsqueda de datos con buenos lineamientos y tener resultados satisfactorios. Con este proceso vamos a utilizar una herramienta para el desarrollo de la actividad que nos permite analizarlos de acuerdo a lo solicitado y tener resultados satisfactorios.

Esta información corresponde al censo que se realizó en el año 2018 de hombres y mujeres por cada uno de los barrios en su totalidad, incluyendo las 16 comunas y los 5 corregimientos que tiene la ciudad de Medellín
            
****************************************************************************************************************************************************************

Aprendizaje:

Describa el procedimiento realizado para la obtención de los datos.

Para realizar esta activado se hizo una consulta en el navegador de google.com.co con la palabra poblacion Medellin, alli nos mostro la informacion correspondiente donde se evidencia el link, desde esta pagina nos muestra el icono de descargar la informacion en un archivo .CSV.
http://medata.gov.co/dataset/proyecciones-de-poblaci%C3%B3n-medell%C3%ADn-2018

****************************************************************************************************************************************************************
Planteamiento del problema

Con esta información se puede mostrar el total de personas que viven en un barrio tanto mujeres como hombres, y se puede hacer un análisis del crecimiento a los siguientes años tanto mujeres como hombres, con estos datos podemos hacer una estadísticas que personas viven con escasos recursos, estudio, trabajo, oportunidades de tener una vivienda propia, salud alimentación para los niños y niñas.

Descripción del dataset

Es el conjunto de datos que se establece en una tabla donde se especifica a cada columna un nombre que relaciones los datos según su estimación a almacenar, según estos los podemos establecer según la necesidad de la persona que adquiere la información y poder establecer estadísticas o seguimiento.

            Descripción de cada columna del dataset

Para realizar esta actividad se escogió una tabla que contiene las siguientes columnas:

Código Dane_Municipio: Nos permite almacenar el código del Municipio según datos del DANE para cada uno de ellos.
Tipo_división_geográfica: Corresponde a la zona geográfica del Municipio en este caso Medellín se distribuye por las comunas (16).
Código: Es el nombre del barrio que lleva el Municipio y su respectiva comuna.
Grupo_Edad: Se establece las edades según el rango para identificar quienes viven en cada una de las viviendas.
Total_2018: Es el total de personas que viven en Municipio-Comuna-Barrio, es decir el total de personas que viven en el barrio.
Hombres_2018: Total de hombres que viven en el Barrio.
Mujeres_2018: Total de mujeres que viven en el Barrio.
****************************************************************************************************************************************************************
Lectura del documento desde GitHub

Mostrar las primeras y últimas cinco filas

****************************************************************************************************************************************************************
Realizar un análisis descriptivo de los datos.

De acuerdo a los datos obtenidos podemos decir que si comparamos las edades de las personas, para el año 2018, podemos concluir que para ese año las personas con edades comprendidas entre los 0 y 19 años de edad en su mayoría eran hombres, pero con un margen de diferencia muy inferior, si lo comparamos con las edades comprendidas entre los 60 años de edad y más los papeles se invierten al presentarse una mayor cantidad de mujeres que de hombres, pero en una diferencia númerica mucho mayor.

Cargar el documento con extensión ipynb

Busquedanformacion.ipynb

https://colab.research.google.com/drive/1oLqpXH6gXs_OHOgg5a5dCPUJt0zh55_6#scrollTo=tirctJcindq1

Desarrollo de Ruta Metodológica

Después de analizar la información extraída y transformada, responde a las siguientes preguntas:

¿Qué uso podríamos darle al dataset?

El uso que se le puede dar al dataset es muy importante ya con esta información podemos sacar estadísticas de personas que viven en un barrio, comuna, o que se desplazan de un barrio a otro, con esta información las autoridades gubernamentales pueden tomar acciones como mejorar la vida, calles, educación, transporte, seguridad escuelas, colegios, etc.

¿Existe alguna relación entre las columnas del documento?

Si existe relación de columnas, entre ellas está el Hombre-2018 y Mujeres_2018, ya que se puede desglosar a mayor cantidad de hombre menor cantidad de mujeres o viceversa, esto quiere decir que se puede establecer que tipo de cabeza de familia se puede notar en una vivienda, es de mencionar que las estadísticas tienden a que las mujeres son la mayoría que establecen como madre y cabeza de hogar, con estos datos el Alcalde, Gobernador o Gobierno puede evidencia que necesidades se pueden dar a estas personas según el barrio o comuna.

¿Qué podríamos predecir o clasificar usando estos datos?

Para clasificar estos datos el DANE-ALCALDE lo que quiere es evidencia y tener control de la cantidad de personas que somos de nacionalidad Colombiana, según estadísticas, cada 10 años, con esta información se evidencia el crecimiento que se tiene cada año tanto hombres como mujeres, con esta información se puede prevenir, la pobreza, ayudar a los más necesitados, se puede establecer niveles de estudio en cada una de las viviendas, servicios, transporte, educación salud alimentación, etc.  según su calidad de vida en

¿Qué observaciones tienes de la página de donde descargaste la información?
http://medata.gov.co/

En cuanto a esta página de la Alcaldía de Medellín, los comentarios son positivos en cuanto a los datos que pueden ser accedidos, dado que en tiempo real y desde donde quiera que te encuentres puedes hacer una investigación amplia de acuerdo a tus necesidades e intereses, puesto que el filtro de esta; está determinado en diferentes campos, y actividades.
En esta página puedes segmentar desde grupos de sisben, hasta niveles de edad, estratos socioeconómicos y todo lo que se te pueda ocurrir, ya sea llevado a nivel general de la Ciudad ó por comunas, y todo esto con sus respectivos gráficos que hacen más comprensible la información.
El tipo de licencia de esta página es totalmente pública,  y  abierta para hacer uso de los datos que en ella están consignados, de acuerdo a la “la Ley 1712 de 2014, se podrá hacer uso, aprovechamiento y/o transformación de forma libre y sin restricciones, para hacer aplicaciones por parte de terceros y contenidos de su propia creación” (http://medata.gov.co/condiciones-de-uso). Quien haga uso de estos datos a manera de aprovechamiento, deberá hacerlo citando textualmente la fuente del portal, y sus datos no podrán ser modificados.
Dentro de las características de la página está su advertencia en caso de no cumplimiento de las políticas de privacidad , donde claramente se advierte de sanciones que podrían ser desde disciplinarias hasta legales. Es una página amigable con la forma en que muestra la información y como la segmenta. En ella también se pueden encontrar links de otras páginas de las cuales medata no tiene control, por lo cual se hace la salvedad frente al tema. Del mismo modo se aclara que pueden ser negados los servicios a ciertos usuarios a su criterio, ó modificar el contenido de ella sin tener que dar previo aviso de esto.

****************************************************************************************************************************************************************

Codifica toda la solución en un Notebook de Google Colab explicando cada paso usando las celdas de texto y código que provee esta herramienta.

El desarrollo se hizo de acuerdo a los solicitado en Notebook de Google, como lo muestra la imagen

****************************************************************************************************************************************************************
Conclusiones

Mediante este tipo de procesos tal y como se evidencio durante el desarrollo de la actividad, podemos llegar a filtrar los datos de las comunas con minucia, pudiendo identificar la comuna, sexo y nivel socioeconomico.
Al tener la oportunidad de hacer este tipo de filtros, en  determinado caso se podrían determinar con exactitud los recursos que se deben asignar a un proyecto, y en qué comuna se necesitarian con un nivel de urgencia más alto.
Tener la tecnología de nuestro lado, siempre será estar un paso a la vanguardia, tanto a nivel de gastos como de funcionamiento y desarrollo de nuestro proyectos.

Siempre el que tiene el conocimiento ó la información, tiene el poder, y más aún si se le da un uso adecuado teniéndolo en manos expertas.
Para cada problema siempre se debe tener una solución prevista antes de que sucedan los hechos, y con este tipo de metodologías, y un monitoreo constante todo se vuelve predecible y fácil de controlar, al establecer planes de acción en caso de una emergencia.

References
(n.d.). MEData. Retrieved June 29, 2023, from http://medata.gov.co/

References
/ /. (n.d.). / / - Wiktionary. Retrieved June 29, 2023, from http://medata.gov.co/dataset/proyecciones-de-poblaci%C3%B3n-medell%C3%ADn-2018