<a href="https://colab.research.google.com/github/josecamachobravo/CienciaDatos/blob/main/Copia_de_Busquedanformacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
ruta = r'https://github.com/josecamachobravo/CienciaDatos/blob/main/CienciaDatos/CNPV2018_5PER_A2_05.csv'
df = pd.read_csv(ruta)
print(df.head())
print(df.tail())
print(df.describe())

ParserError: ignored

In [ ]:
df.head()

,Código Dane_Municipio,Tipo_división_geográfica,Código,Grupo_Edad,Total_2018,Hombres_2018,Mujeres_2018
0,5001,Comuna,Popular,Total,131968,62502,69466
1,5001,Comuna,Popular,0-4,11684,5970,5714
2,5001,Comuna,Popular,5-9,11624,5894,5730
3,5001,Comuna,Popular,10-14,11139,5636,5503
4,5001,Comuna,Popular,15-19,10888,5481,5407

In [ ]:
df.tail()

,Código Dane_Municipio,Tipo_división_geográfica,Código,Grupo_Edad,Total_2018,Hombres_2018,Mujeres_2018
427,5001,Total Medellín,Total Medellín,60-64,146335,63048,83287
428,5001,Total Medellín,Total Medellín,65-69,109374,46391,62983
429,5001,Total Medellín,Total Medellín,70-74,75371,30633,44738
430,5001,Total Medellín,Total Medellín,75-79,47121,18131,28990
431,5001,Total Medellín,Total Medellín,80 Y MÁS,52199,18110,34089

In [ ]:
df.describe()

       Código Dane_Municipio    Total_2018  Hombres_2018  Mujeres_2018
count                  432.0  4.320000e+02  4.320000e+02  4.320000e+02
mean                  5001.0  3.513060e+04  1.653275e+04  1.859785e+04
std                      0.0  1.675131e+05  7.884461e+04  8.869422e+04
min                   5001.0  3.600000e+01  5.000000e+00  3.100000e+01
25%                   5001.0  3.952250e+03  1.763000e+03  2.096750e+03
50%                   5001.0  8.612500e+03  4.008000e+03  4.477500e+03
75%                   5001.0  1.209525e+04  5.973250e+03  6.286250e+03
max                   5001.0  2.529403e+06  1.190358e+06  1.339045e+06